@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sono:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;


/* GENERAL */
html {
 @apply bg-stone-800;
}

* {
  @apply text-gray-200;
}


/* CLASSES */
#container {
  @apply h-[100vh] ;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 2rem;
}

.title {
  @apply text-3xl font-semibold w-full;
}

.noteContainer {
  @apply h-[100vh] overflow-hidden overflow-y-scroll pr-[1rem];
}

.header {
  @apply flex items-center h-[8vh] ml-2 flex-row-reverse;
}

.noteEditor {
  @apply w-full h-[95vh] my-auto border-l border-y border-gray-200 mx-auto mr-[2rem] rounded-l-2xl;
}

.noteEditor textarea {
  @apply w-full h-[80vh] border-gray-200 border-y bg-gray-50 p-4 resize-none bg-stone-800;
}

.note {
  @apply mt-2 first:mt-0 first:rounded-t-none first:border-t-0 last:mb-[2.5vh] first:pt-6;
}
.note .title {
  @apply text-2xl text-gray-300 border-b border-gray-300 p-2;
}
.note .body {
  @apply text-gray-300 p-2;
}

/* ELEMENTS */
input {
  @apply bg-transparent;
}
button {
  text-align: left;
}
img {
  @apply invert;
}

/*Custom scroll bar for notes*/
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  @apply bg-stone-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-stone-300 hover:bg-stone-600;
}

@tailwind utilities;